# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.bat

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradlew
gradle

# other
eclipse
run
.gitattributes
.gitignore

# Files from Forge MDK
forge*changelog.txt
